{% extends "inicio.html" %}
{% block titulo %}
    Empleados
{% endblock %}
{% load static %}
{% block css %}

{% endblock %}

{% block contenido %}
<section class="form-container">
    <div class="form-header">
        <h1>Formulario de Empleados</h1> 
    </div>
    <form method="POST" id="form-cargo" class="form">
        {% csrf_token %}
        {{empleForm.as_p}}
        <button 
            id="enviar"
            type="submit"
            name="enviar">
            {{accion}}
        </button>
    </form>
</section>

{% endblock %}
