{% extends "inicio.html" %}
{% block titulo %}
    Empleados
{% endblock %}
{% load static %}
{% block css %}

{% endblock %}

{% block contenido %}
<section class="form-container">
    <div class="consulta none table-responsive" id="consulta">
        <h2>Listado de Empleados</h2>
        <a style="display:block;background:green;border-radius:5px;padding:5px;color:white;cursor:pointer"
                href="{% url 'crear_empleado' %}">Crear Empleado</a>
        <table class="consulta-est" id="consulta-est" border="0">
            <thead>
                <th>#</th>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Sueldo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </thead>
            <tbody class="detalle-est" id="detalle-est">
                
                {% for empleado in empleados %}
                <tr>
                    <td>{{empleado.id}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.cargo}}</td>
                    <td>{{empleado.departamento}}</td>
                    <td>{{empleado.sueldo}}</td>
                    <td>{{empleado.estado}}</td>
                    <td class="acciones">
                        <a href="{% url 'editar_empleado' empleado.id %}">✏️</a>
                        <a href="{% url 'eliminar_empleado' empleado.id %}">❌</a>
                    </td>
                {% endfor %}    
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
