.form-container {
    background-color: var(--boton-secundary);
    max-width: 80%;
    min-width: 240px;
    box-shadow: 0px 5px 16px 0px var(--primary-color);
    overflow: hidden;
    color: var(--font-color-reverse);
    font-weight: 900;
    margin: 0 auto;
  }
.form-header {
    background: var(--primary-color);
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid var(--font-color-reverse);
    line-height:30px;
    }
.form-header h1{
     color: var(--boton-warning);
     font-size: 32px;
  } 
form {
    padding: 10px 40px;
  } 
.form input{
    display: flex;
    width: 100%;
    padding: 5px;
  }
.form select{
    width: 100%;
    padding: 5px;
  }
.form-group textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 5px;
  }
.form label {
    margin: 5px auto;
    display: block;
    text-align: center;
  }
.form-group *::placeholder {
    color: var(--primary-color);
    font-size:20px;
    text-align: center;
  }
.form-check input[type="checkbox"] {
    margin: 15px auto;
  }
.form button {
    display: block;
    width: 100%;
    padding: 8px;
    background: var(--primary-color);
    border-radius: 10px;
    color: var(--font-color-reverse);
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
  }
.form button:hover {
    background-color: var(--boton-warning);
    color:var(--font-color-reverse)
  }
  
.table-responsive {
          width: 100%;
          overflow-y: hidden;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          display: flex;
          flex-direction:column;
          justify-content: center;
          align-items: center;
  }
.consulta h2{
     color: var(--font-color-reverse);
     text-transform: uppercase;
     margin-bottom: 3px;
  }
.consulta-est{
     width: 100%;
    }
.consulta-est th{
    background-color: var(--boton-warning);
    color:var(--font-color-reverse);
    font-size:20px;
    text-align:center;
   
  }
.consulta-est th, td {
     width: 25%;
     text-align: center;
  }
.detalle-est button{
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 2px solid var(--boton-warning);
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
.detalle-est button:hover{
    background-color: var(--boton-warning);
    
  }
.detalle-est .acciones{
    text-align: center;
  }
