.header{
    background-color: var(--primary-color);
    opacity: 0.85;
}
  .navegacion{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      max-width: 600px;
  }
  
  .logo {
    display: flex;
    align-items: left;
    font-weight: 1000;
    color: var(--font-color-reverse);
    margin-left: 20px;
  }
  
  .logo img{
    border-radius:0%;

  }
  .menu{
    display: flex;
    padding: 10px;
    text-align: center;
  }
  .menu li {
    display: flex;
    padding: 20px 30px;
    align-items: center;
    font-weight: 500;
    background: var(--boton-success);
  }
  .menu li:hover {
    background: green;
  }

  /* media querys */
  /* en dispositivos de 0 a 760px se aplican estos estilos*/
  @media (max-width: 760px) {
   .navegacion {
     margin-top: 10px;
    }
    .menu {
      flex-wrap: wrap; /* ocupe el ancho del viewport */
      justify-content: center;
      margin: 20px auto;
    }
  }