/** creacion de varibles globales*/
:root {
    --primary-color: #515966;
    --secundary-color: #9c000e; 
    --boton-success:#81f0b2;
    --boton-secundary:#3b3a3a;
    --boton-warning:#fe9a2a;
    --boton-cancelar:#fe4093;
    --font-size:16px;
    --font-color:#000;
    --font-color-reverse:#fff;
    
  }
  /** reseteo de estilos */
  html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box; /** no afecte al tamaño de la caja el margin ni el padding y borde */
    font-size: var(--font-size);
    scroll-behavior: smooth; /** aplica una transiccion no subita eal cambiar de seccion */
    color:var(--font-color);
  }
  /** todos los elementos hereden el box-sizing: */
  *,*:before,*:after{
    box-sizing: inherit;
  }
  body{
    background-image: url(../img/Screenshot_Full_-_Cinematic_5.jpeg);
    background-size:center;
    background-position: -300px -250px;
  }
  main{
    margin:0 10px;
    margin-top: 20px;
  } 
  img{
    max-width: 100%;/** las imagenes se adaptan a la maxima anchura de su contenedor */
    height: auto;
  }
  a{
    text-decoration: none;
    color:var(--font-color-reverse)
  }
  li{
    list-style-type: none;
  }
 
